@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

/*-------HEADER-------*/

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    padding: 20px;
    transition: .5s;
}

header h1 {
    font-family: 'Pacifico';

}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

nav ul li .linea {
    display: block;
    background-color: black;
    height: 2px;
    width: 0%;
    transition: .5s;
}

nav ul li:hover .linea {
    width: 100%;
}

header nav ul li a {
    text-decoration: none;
    color: black; 
}

header .nav-bar {
    font-size: 24px;
    cursor: pointer;
    transition: .5s;
    display: none;
}

header .nav-bar:hover {
    color: #4c4c4c;
}

header nav ul li span.selected {
    display: block;
    background-color: black;
    height: 2px;
    width: 100%;
}


/*-------INICIO--------*/

#inicio {
    position: relative;
    height: 100vh;
    padding: 0 40px;

}

#inicio .contenedor-cont {
    max-width: 1500px;
    height: 100%;
    margin: auto;
   
}
#inicio .contenedor-cont .info {
    position: relative;
    top: 50%;
    width: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 10;
    animation: aparecer 2s forwards;

}

@keyframes aparecer {
    0% {
        margin-left: -30px;
        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

#inicio .contenedor-cont .info h2 {
    font-size: 45px;
    color: white;
    -webkit-text-stroke: 2px black;
    padding-left: 2px;
    text-shadow: 3px 3px black;
    letter-spacing: 5px;
}

#inicio .contenedor-cont .info h3 {
    display: inline-block;
    font-size: 25px;
    color: #4c4c4c;
    margin-bottom: 15px;
}

#inicio .contenedor-cont .info .redes {
    display: inline-block;
    color: #4c4c4c;
    font-size: 25px;
    margin-right: 15px;
}

#inicio .contenedor-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    clip-path: ellipse(90% 90% at left);
    /* background-color: #4c4c4c; */

}

#inicio .contenedor-img img {
    background-image: XXX;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
   
}

