@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

/*-------HEADER-------*/

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    transition: .5s;
}

header h1 {
    font-family: 'Pacifico';
    font-size: 35px;
    text-shadow: 0.5px 1px rgb(249, 246, 246);
    letter-spacing: 2px;
    margin-left: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
}

header nav ul li {
    margin: 0 20px;
}

nav ul li .linea {
    display: block;
    background-color: black;
    height: 1.5px;
    width: 0%;
    transition: .5s;
}

nav ul li:hover .linea {
    width: 100%;
}

header nav ul li a {
    text-decoration: none;
    color: black; 
}

header .nav-bar {
    font-size: 24px;
    cursor: pointer;
    transition: .5s;
    display: none;
}

header .nav-bar:hover {
    color: #4c4c4c;
}

header nav ul li span.selected {
    display: block;
    background-color: black;
    height: 2px;
    width: 100%;
}


/*-------INICIO--------*/

#inicio {
    position: relative;
    height: 100vh;
    padding: 0 40px;
}

#inicio .contenedor-cont {
    max-width: 1500px;
    height: 100%;
    margin: auto;
}

#inicio .contenedor-cont .info {
    position: relative;
    top: 50%;
    width: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 10;
    animation: aparecer 2s forwards;

}

@keyframes aparecer {
    0% {
        margin-left: -30px;
        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

#inicio .contenedor-cont .info h2 {
    font-size: 45px;
    color: white;
    -webkit-text-stroke: 2px black;
    padding-left: 2px;
    text-shadow: 3px 3px black;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

#inicio .contenedor-cont .info h3 {
    font-size: 25px;
    color: #4c4c4c;
    margin-bottom: 15px;
}

#inicio .contenedor-cont .info .redes {
    display: inline-block;
    color: #4c4c4c;
    font-size: 25px;
}

#inicio .contenedor-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    clip-path: ellipse(90% 80% at left);
}

#inicio .contenedor-img .img {
    background-image: url(img/compu.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
   
}

/*-------SOBRE MI--------*/

#sobremi {
    height: 100vh; 
}

#sobremi .contenedor-sobremi {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 65px;
    padding-bottom: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;

}

#sobremi .contenedor-sobremi .contenedor-izq {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#sobremi .contenedor-sobremi .contenedor-izq img {
    max-width: 600px;
    display: flex;
    border-radius: 50%;
    border: 8px solid #f2f2f2;
}

#sobremi .contenedor-sobremi .contenedor-der {
    width: 50%;
    padding-left: 30px;
}

#sobremi .contenedor-sobremi .contenedor-der .info span{
    display: inline-block;
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

#sobremi .contenedor-sobremi .contenedor-der .info h3 {
    font-size: 28px;
    line-height: 1.4px;
    font-weight: 800;
    margin-bottom: 20px;
}

#sobremi .contenedor-sobremi .contenedor-der .info p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #767676;
}

#sobremi .contenedor-sobremi .contenedor-der .info .btn-descargarCV {
    display: inline-block;
    background-color:black;
    padding: 15px 45px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    transition: .2s;
}

#sobremi .contenedor-sobremi .contenedor-der .info .btn-descargarCV:hover {
    background-color: #767676;
    color: black;
}

/*-------SKILLS--------*/

#skills {
    background-color: #f2f2f2;
    padding: 30px;
}

#skills .contenedor-skills {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills .contenedor-skills .fila1 {
    flex-wrap: wrap;
    display: flex;
}
#skills .contenedor-skills .fila2 {
    flex-wrap: wrap;
    display: flex;
}

.skills {
    max-width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
  
#skills h3 {
    font-size: 28px;
    line-height: 1.4px;
    font-weight: 800;
    text-align: center;
}
  
.contenedor-skills .card{
    padding: 10px;
}

.card {
    border-radius: 11px;
    box-shadow: 0 3px 10px;
    padding: 25px;
    margin: 15px;
    background-color: white;
}

/*-------PROYECTOS--------*/

#proyectos {
    width: 100vh;
}

#proyectos .contenedor-proyectos {
    padding: 75px 30px;
    max-width: 1200px;
    margin: auto;
}

#proyectos .contenedor-proyectos .contenedor-izq span {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

#proyectos .contenedor-proyectos .encabezado-proyectos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#proyectos .contenedor-proyectos .encabezado-proyectos a {
    text-decoration: none;
    display: inline-block;
    color:black;
    padding: 5px 15px;
}

#proyectos .contenedor-proyectos .encabezado-proyectos a:hover{
    background-color: black;
    color: white;
} 

.activada {
    background-color: black;
    color: white !important;
} 

#proyectos .contenedor-proyectos .contenedor-izq h3 {
    font-size: 28px;
    line-height: 1.4px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 15px;
}

#proyectos .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

#proyectos .galeria img {
    width: 100%;
    transition: .5s;
}

#proyectos .galeria .proyecto {
    position: relative;
    overflow: hidden;
}

#proyectos .galeria h3 {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    transition: .5s;
    opacity: 0;
}

#proyectos .galeria .proyecto:hover h3{
    opacity: 1;
}

#proyectos .galeria .proyecto:hover img{
    transform: scale(1.1);
}

/*-------CONTACTO--------*/

.contacto {
    height: 85vh;
    background-color: black;
    background-size: cover;
    color: white;
    padding: 40px 20px;
}

.contacto .contenedor-contacto {
    max-width: 1200px;
    margin: auto;
}

.contacto h3 {
    font-size: 28px;
    line-height: 1.2px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.contacto .contenedor-contacto .fila {
    display: flex;
}

.contacto .contenedor-contacto .fila .col {
    width: 50%;
}

.contacto .contenedor-contacto .info {
    margin-bottom: 20px;
    border-left: 3px solid gray;
    padding-left: 20px;
}

.contacto .contenedor-contacto .info p {
    color: #767676;
}

.contacto input, .contacto textarea {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
    border: 1.5px solid white;
    margin-bottom: 20px;
    outline: none;
    color: white;
}

.contacto .btn-enviar{
    background-color: none;
    padding: 5px 15px;
    border: 2.5px solid white;
    color: white;
    cursor: pointer;
}

.contacto .btn-enviar:hover{
    background-color: white;
    color: black;
}

/*-------FOOTER--------*/

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
